<!-- ejemplos basicos -->

<!-- <p>Hola! {{nombre}}</p> -->
<!-- <button>obtener valores</button> <br> -->


<!-- <input type="text" [(ngModel)]="nombreUser">
<span>{{nombreUser}}</span> -->


<!-- <div *ngFor="let item of json; let i = index" style="padding-bottom: 10px;">
    <span>index {{i+1}} </span> <br>
    <span>name: {{item.name}} </span> <br>
    <span>Salary: {{item.salary}} </span> <br>
    <span *ngIf="item.married == true">marrier</span> <br>
</div> -->


<!-- uso de la cdn de bootstrap 4 -->

<div class="container">
    <div>
        <h2 class="text-center pb-5 pt-5"> List users</h2>
        <div class="card-columns">
            <div class="card" *ngFor="let item of json;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title">Name: {{item.name}}</h5>
                  <p class="card-text">Gender: {{item.gender}}</p>
                  <p class="card-text">Email: {{item.email}}</p>
                </div>
                
                <div class="row justify-content-center pb-5">
                    <a class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
    </div>
  </div>